!
! FONTS
!
! assumes compton installed

URxvt.font:   xft:bitstream vera sans mono:size=12:antialias=true
URxvt.boldFont:   xft:bitstream vera sans mono:bold=12:antialias=true
URxvt.scrollBar: false

!URxvt.font:    xft:droid sans mono:size=12:antialias=true
!URxvt.boldFont:    xft:droid sans mono:bold=12:antialias=true

!
! COLORS
!

! special
URxvt.foreground:   #c500c800c600
!URxvt.background:   #1d1f21
URxvt.depth:        32
URxvt.background:   rgba:0000/0000/0000/B800
URxvt.cursorColor:  #c5c8c6
!URxvt.transparent:  true
!URxvt.shading:      30

! black
URxvt.color0:       #28002a002e00
URxvt.color8:       #37003b004100

! red
URxvt.color1:       #a50042004200
URxvt.color9:       #cc0066006600

! green
URxvt.color2:       #8c0094004000
URxvt.color10:      #b500bd006800

! yellow
URxvt.color3:       #de0093005f00
URxvt.color11:      #f000c6007400

! blue
URxvt.color4:       #5f0081009d00
URxvt.color12:      #8100a200be00

! magenta
URxvt.color5:       #850067008f00
URxvt.color13:      #b2009400bb00

! cyan
URxvt.color6:       #5e008d008700
URxvt.color14:      #8a00be00b700

! white
URxvt.color7:       #700078008000
URxvt.color15:      #c500c800c600


!rofi.color-window: #000000, #000000, #999999
!rofi.color-normal: #000000, #ffffff, #000000, #999999, #ffffff
!rofi.color-active: #000000, #ffffff, #000000, #999999, #ffffff
!rofi.color-urgent: #000000, #ffffff, #000000, #999999, #ffffff

! ROFI
!
rofi.color-enabled: true
!!                  bg       border   separator
rofi.color-window: #1d1f21, #707880, #a89984
!!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1d1f21, #c5c8c6, #1d1f21, #c5c8c6, #1d1f21
rofi.color-active: #d79921, #c5c8c6, #d79921, #c5c8c6, #1d1f21
rofi.color-urgent: #cc241d, #c5c8c6, #cc241d, #c5c8c6, #1d1f21


rofi.terminal: urxvt
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16
rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 40
!rofi.font: Bitstream 12 
rofi.lines: 15
rofi.fixed-num-lines: true
