!
! FONTS
!

URxvt.font:   xft:bitstream vera sans mono:size=12:antialias=true
URxvt.boldFont:   xft:bitstream vera sans mono:bold=12:antialias=true
URxvt.scrollBar: false

!URxvt.font:    xft:droid sans mono:size=12:antialias=true
!URxvt.boldFont:    xft:droid sans mono:bold=12:antialias=true

!
! COLORS
!

! special
URxvt.foreground:   #c5c8c6
URxvt.background:   #1d1f21
!URxvt.depth:        32
!URxvt.background:   rgba:0000/0000/0200/1800
URxvt.cursorColor:  #c5c8c6
URxvt.transparent:  true
URxvt.shading:      30

! black
URxvt.color0:       #282a2e
URxvt.color8:       #373b41

! red
URxvt.color1:       #a54242
URxvt.color9:       #cc6666

! green
URxvt.color2:       #8c9440
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #de935f
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #5f819d
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #85678f
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #5e8d87
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #707880
URxvt.color15:      #c5c8c6


!rofi.color-window: #000000, #000000, #999999
!rofi.color-normal: #000000, #ffffff, #000000, #999999, #ffffff
!rofi.color-active: #000000, #ffffff, #000000, #999999, #ffffff
!rofi.color-urgent: #000000, #ffffff, #000000, #999999, #ffffff

! ROFI
!
rofi.color-enabled: true
!!                  bg       border   separator
rofi.color-window: #1d1f21, #707880, #a89984
!!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1d1f21, #c5c8c6, #1d1f21, #c5c8c6, #1d1f21
rofi.color-active: #d79921, #c5c8c6, #d79921, #c5c8c6, #1d1f21
rofi.color-urgent: #cc241d, #c5c8c6, #cc241d, #c5c8c6, #1d1f21


rofi.terminal: urxvt
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16
rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 40
!rofi.font: Bitstream 12 
rofi.lines: 15
rofi.fixed-num-lines: true
